@model ProyectoFinal2020.Models.Actividad

@{
    ViewData["Title"] = "Delete";
}

<h1 style="color:red;">Eliminar
    <i class="fas fa-trash"></i>
    </h1>


<div>
    <h4>Actividad</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Duracion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Duracion)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdActividad" />
        <input type="submit" onclick="return ConfirmarEliminar()" value="Eliminar" class="btn btn-danger"/> 
        <a asp-action="Index" class="btn btn-secondary">Atrás</a>
    </form>
</div>
