@model ProyectoFinal2020.Models.Actividad

@{
    ViewData["Title"] = "Details";
}

<h1 style="color:dimgray;">Detalles
    <i class="fas fa-align-justify"> </i>
    </h1>

<div>
    <h4>Actividad</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Duracion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Duracion)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdActividad" class="btn btn-primary">Editar</a>
    <a asp-action="Index" class="btn btn-secondary">Atrás</a>
</div>
