@model ProyectoFinal2020.Model.Cliente

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles del Cliente</h1>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<div>
    <h4>Cliente<i class="fas fa-user-circle"></i></h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Identificacion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Identificacion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Apellido1)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Apellido1)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Apellido2)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Apellido2)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaNac)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaNac)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Telefono)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Direccion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sexo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sexo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Casillero)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Casillero)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdTarifa)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdTarifa)
        </dd>
    </dl>
    <div class="form-row">
        <div class="form-group col-md-6">
            <input type="submit" value="Guardar" class="btn btn-primary btn-block" />
        </div>
        <div class="form-group col-md-6">
            <a asp-action="Index" class="btn btn-secondary btn-block"><i class="fa fa-table"></i>Regrasar a la lista</a>
        </div>
    </div>
</div>

