@model IEnumerable<ProyectoFinal2020.Model.Cliente>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista<i class="fas fa-list"></i></h1>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Identificacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido1)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Apellido2)
            </th>*@
            @*<th>
                @Html.DisplayNameFor(model => model.FechaNac)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sexo)
            </th>*@

            <th>
                @Html.DisplayNameFor(model => model.Casillero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdTarifa)
            </th>
            <th>
                <a asp-action="Create" class="btn btn-success"><i class="far fa-plus-square"></i>Crear Nuevo</a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Identificacion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apellido1)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.Apellido2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaNac)
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Telefono)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.Direccion)
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.Estado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sexo)
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Casillero)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdTarifa)
                </td>
                <td>
                    <a asp-action="Edit" class="btn btn-primary" asp-route-id="@item.IdCliente"><i class="fas fa-pen-alt"></i>Editar</a> |
                    <a asp-action="Details"class="btn btn-dark" asp-route-id="@item.IdCliente"><i class="fas fa-id-card"></i>Detalles</a> |
                    <a asp-action="Delete"class="btn btn-danger" asp-route-id="@item.IdCliente"><i class="fas fa-eraser"></i>Eliminar</a>
                </td>
            </tr>
}
    </tbody>
</table>
